<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Sistema gestor de Conocimientos - UPV</title>
	
		
	<script src="https://kit.fontawesome.com/4e3c5501e7.js" crossorigin="anonymous"></script>
	
	
	{{ style('css/main.css?n=1') }}
	{{style('awesome/css/font-awesome.min.css')}}
		{{style('arbol/foundation.css')}} 
		{{style('arbol/app.css')}} 
	{{style('arbol/d3-context-menu.css')}} 
	{{style('arbol/select2.css')}}
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>
	
<style>
	

  	.reveal-modal-bg {
        position: fixed;
    }
    .reveal-modal {
        top: 8% !important;
    }
	
	
</style>

<body>
	<div class="container-scroller">	
		<div class="main-panel">

				<div class="col-md-12 grid-margin">
						
						 <!-- Breadcrumb -->
					<div class="col-12 mt-4">
						<div class="page-header">
							
							<div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
								
								<h1 class="page-title"> Grafo de conocimiento </h1>
								<ul class="quick-links ml-auto">
								<li>
									<span style="color: #bdb9bd"> <i class="fas fa-home"></i> <i class="fas fa-angle-right"></i> 								</span>  <span style="color: #bdb9bd"> Grafo de conocimieto  <i class="fas fa-angle-right"></i> </span> Grafo
								</li>
								</ul>
						  </div>
						</div>
					</div>
						
				
				<div class="card" id="tarjeta_arbol">
                  <div class="card-body">
					  
					<input id="x_input" type="text" value="{{all.x}}" hidden>
					<input id="y_input" type="text" value="{{all.y}}" hidden>
					<input id="e_input" type="text" value="{{all.e}}" hidden>
					
					<div id="tree-container" style="width: 100%; ">

						<div style="background-color: white; width: 100%;">

							<table style="width: 50%; float: left; ">
								<tr>
								<td style="width: 20%"> <b> Vista </b> </td>
								<td> <input type="checkbox" class="custom-control-input" id="horizontalVertical">
									<label class="custom-control-label" for="horizontalVertical">Horizontal</label> </td>
								</tr>

								<tr>
									<td> <b> Tamaño del nodo </b></td>
									<td>
										<div class="small-10 medium-11 columns">
											<div class="range-slider" id="slider" onclick="updateSizeNode()" data-slider data-options="display_selector: #sliderOutput3;">
											<span class="range-slider-handle" role="slider" tabindex="0"></span>
											<span class="range-slider-active-segment"> <span id="sliderOutput3"></span> </span>
											</div>
										</div>
										<div class="small-2 medium-1 columns">
											<span id="sliderOutput3"></span>
										</div>
									</td>
								</tr>
								

								<tr>
									<td> <b> Nodos ponderados: </b></td>
									<td style="font-size: 20px;" > 
										<center>  
											<span id="total_evaluados"> </span> de  <span id="total_nodos_por_ponderar"> </span> 
										</center> 
									
									</td>
								</tr>
								<tr>
									<td>
									</td>
									<td>
										<button href="#" class="button success" id="btn_empezar_evidencia" onclick="resetearConteo()">Comenzar registro de estimaciones</button>
									</td>
									
								</tr>
							</table>
						</div>
					</div>



					<div class="row">
						<div class="col-md-12">	
							<div id="RenameNodeModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
								role="dialog">
								<h2 id="modalTitle">Renombrar Nodo</h2>
								<form id="RenameNodeForm">
								<div class="row">
									<div class="large-12 columns">
									<label>Nombre del nodo
										<input type="text" class="inputName" id='RenameNodeName' placeholder="nombre del nodo" />

										<p id="mensaje_3" style="color: red;"></p>
									</label>
									</div>
								</div>
								<div class="row">
									<div class="large-8 columns">
									&nbsp;
									</div>
									<div class="large-4 columns">
									<a href="#" class="button info" onclick="close_rename_node_modal()">Cancelar</a>
									<a href="#" class="button success" onclick="rename_node()">Renombrar</a>
									</div>
								</div>
								</form>
								<a class="close-reveal-modal" aria-label="Close">&#215;</a>
							</div>

							<!--MODAL PARA CEAR NODO-->
							<div id="CreateNodeModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
								role="dialog">
								<h2 id="modalTitle">Crear Nodo</h2>
								<form id="CreateNodeForm">
								<div class="row">
									<div class="large-12 columns">
									<label>Nombre del nodo
										<input type="text" class="inputName" id='CreateNodeName' placeholder="nombre del nodo" />

										<p id="mensaje_4" style="color: red;"></p>

									</label>
									</div>
								</div>
								<div class="row">


									<br>
									<span>Seleccione el color de la conexión: </span>

									<input type="color" id="colorNuevaConexion">


									<div class="large-12 columns">
										<center>
										<a href="#" class="button info" onclick="close_create_node_modal()">Cancelar</a>
										<a href="#" class="button success" onclick="create_node()">Crear</a>
										</center>
									</div>

								</div>
								</form>
								<a class="close-reveal-modal" aria-label="Close">&#215;</a>
							</div>
							<!--MODAL PARA AÑADIR UN NUEVO PADRE AL NODO-->

							<div id="NewParentModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
								role="dialog">

								<div class="grid-container">
									<div class="grid-x grid-padding-x">
										<span>Elija un nodo:</span>


										<select id="nodesSelect" class="js-example-basic-multiple" style="width:100%">
										</select>

										<span id="mensaje_1" style="color: red;"></span> 

										<br>
										<br>
										<span>Seleccione el color de la conexión: </span>

										<input type="color" id="colorConexion">

										<div class="row">
											<br>
											<div class="large-12 columns">
												<center>
												<a href="#" class="button info" onclick="close_create_parent_node_modal()">Cancelar</a>	
												<a href="#" class="button primary padding-top-2" onclick="createParentConection()">Crear conexión</a>
												</center>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!--MODAL PARA BORRAR UN  PADRE AL NODO-->
							<div id="DeleteParentModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
								role="dialog">

								<span>Selecciona el nodo: </span>
								<select id="deleteParentSelect" class="js-example-basic-multiple" style="width:50%">
								</select>

								<br>
								<span id="mensaje_2" style="color: red;"></span> 
								<br>

								<div class="row">
								<div class="large-8 columns">
									&nbsp;
								</div>
								<div class="large-4 columns">
									<a href="#" class="button info" onclick="close_delete_parent_node_modal()">Cancelar</a>
									<a href="#" class="button success" onclick="deleteParent()">Eliminar</a>
								</div>
								</div>
							</div>

							<div id="DeleteNodeModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
								role="dialog">

								<select id="optionsDelete" class="js-example-basic-multiple" style="width:50%">
								<option value="1">Borrar Todos</option>
								<option value="2">Hacer padre al abuelo</option>
								<option value="3">Cambiar de padre a un hijo</option>
								<option value="4">Cambiar de padre</option>
								</select>

								<select id="nodesSelectAllDelete" name="selectName" class="js-example-basic-multiple" style="width:50%">
								</select>


								<select id="nodesSelectChildNewParent" name="selectName" class="js-example-basic-multiple" style="width:50%">
								</select>


								<div class="row">
								<div class="large-8 columns">
									&nbsp;
								</div>
								<div class="large-4 columns">
									<a href="#" class="button info" onclick="close_delete_node_modal()">Cancelar</a>
									<a href="#" class="button success" onclick="delete_node(node_to_delete)">Aceptar</a>
								</div>
								</div>
							</div>



							<!--MODAL PARA PREGUNTAS-->
							<div id="QuestionModal" class="reveal-modal " data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="margin-top:0;" data-options="close_on_background_click:false;close_on_esc:false;">
								
								
								
								<div class="container text-right">	
									<a  onclick="cerrarModal()" > 
										<i class="fas fa-times fa-2x"></i>

									</a> 
								</div>
								
								<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
								</button> -->
								
								<h3 id="modalTitle"> <b> Estimación del experto sobre el grado de conocimiento de sus alumnos. </b> </h3>
								
								<!--<h4>
									Tema: Multiplicacion
								</h4>-->
								<div style="outline-style: solid;">
									<ol id="questionList">
									</ol>
								</div>
								
								<p style="font-size:20px;">
									Considerando todos los alumnos a los cuales ha impartido la clase de matemáticas. Realice una estimación de una distribución de porcentajes en los siguientes rangos.
								</p>
								
								<table class="table table-striped" >
								  <thead>
									<tr>
									  <th scope="col" style="font-size:20px;">Tipo</th>
									  <th scope="col" style="font-size:20px;">Descripción</th>
										<th scope="col" style="font-size:20px;">Porcentaje</th>
									</tr>
								  </thead>
								  <tbody >
									  
									  <!--<tr>
										<td style="font-size:20px;">Excelente</td>
										<td style="font-size:20px;">Mayor a 91 o igual a 100</td>
										<td style="font-size:20px;"> <input onkeyup="cambioInput(id)" onchange="cambioInput(id)" type="number" min="0" max="100" class="form-control" id="inp_excelente"> </td>
									  </tr>
									  
									  <tr>
									  	<td style="font-size:20px;">Bueno</td>
									  	<td style="font-size:20px;"> Mayor a 74 Menor o igual a 91 </td>
										<td style="font-size:20px;"> <input onkeyup="cambioInput(id)" onchange="cambioInput(id)" type="number" min="0" max="100" class="form-control" id="inp_bueno"> </td>
									  </tr> -->
									  
									  <tr>
									  	<td style="font-size:20px;">Bueno</td>
										<td style="font-size:20px;">Mayor a 83 - Menor o igual a 100</td>
										<td style="font-size:20px;"> <input onkeyup="cambioInput(id)" onchange="cambioInput(id)" type="number" min="0" max="100" class="form-control" id="inp_bueno"> </td>
									  </tr>
									  
									  <tr>
									  	<td style="font-size:20px;">Regular</td>
										  <td style="font-size:20px;"> Mayor a 66 -  Menor  o igual a 83 </td>
										 <td style="font-size:20px;"> <input onkeyup="cambioInput(id)" onchange="cambioInput(id)" type="number" min="0" max="100" class="form-control" id="inp_regular"> </td>
									  </tr>
									  
									  <tr>
									  	<td style="font-size:20px;">Bajo</td>
										<td style="font-size:20px;"> 0 - Menor o igual a 66 </td>
										<td style="font-size:20px;"> <input onkeyup="cambioInput(id)" onchange="cambioInput(id)" type="number" min="0" max="100" class="form-control" id="inp_bajo"> </td>
									  </tr>
									  
									  <tr>
									  	<td></td>
										  <td style="font-size:20px;">Total:</td>
										  <td style="font-size:20px;"> <h3 > <b> <label id="lbl_total_porcentaje"> x </label>  </b> </h3> </td>
									  </tr>
									  
									  
								  </tbody>
								</table>
									
									<label id="msg_porcentaje"></label>
									
									
									<center>
										
										
										<br>										
										<button href="#" class="button success " id="btn_guardar_porcentajes" onclick="guardarPorcentajes()"> <i class="fas fa-save"></i> Guardar</button>
										<br>
										
										<div class="container text-right">
											
											<button href="#" class="button primary align-right" id="btn_anterior_tema" onclick="anteriorRegistroEvidencia()">
												<i class="fas fa-arrow-left"></i>
											</button>
											
											
											<button href="#" class="button primary align-right" id="btn_siguiente_tema" onclick="siguienteRegistroEvidencia()">
												<i class="fas fa-arrow-right"></i>
											</button>

											
											
										</div>
										
										
									</center>
								
								

								
								
							</div>

							
							<!-- Modal -->
							
							<div id="modalDeCarga" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" data-options="close_on_background_click:false;close_on_esc:false;">

								<div class="grid-container">
									<div class="grid-x grid-padding-x">
										

										

										<center> 
									  
									  <div class="modal-body">
									<div class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span> 
</div> 
								  </div> Cargando
								  
									</center>
										
										
									</div>
								</div>
							</div>
							
							
							<!--<div class="reveal-modal" id="modalDeCarga" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
							  <div class="modal-dialog" role="document">
								<div class="modal-content">
								  
									
								  <center> 
									  
									  <div class="modal-body">
									<div class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span> 
</div> 
								  </div> Cargando
								  
									</center>
									
								</div>
							  </div>
							</div> --> 
							
							
							
							
							<!--MODAL PARA CAMBIAR DE COLOR AL NODO-->
							<div id="CambiarColorConexion" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
								role="dialog">
								<h2 id="modalTitle">Cambiar color de conexión</h2>
								<form id="RenameNodeForm">
								<div class="row">
									<input id="idConexion" value="" hidden/>
									<br>
									<span>Seleccione el nuevo color de la conexión: </span>
									<input type="color" id="colorConexionNvo">
								</div>
								<div class="row">
									<div class="large-8 columns">
									&nbsp;
									</div>
									<div class="large-4 columns">
									<a href="#" class="button success" onclick="guardarNuevoColor()">Guardar</a>
									</div>
								</div>
								</form>
								<a class="close-reveal-modal" aria-label="Close">&#215;</a>
							</div>

							<!--MODAL PARA CAMBIAR Y ELIMINAR CONEXIÓN PARENTAL-->
							<div id="CambiarConexionPadre" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
								role="dialog">

								<div class="grid-container">
									<div class="grid-x grid-padding-x">
										<span>Nodo seleccionado:</span>
										<select id="childrenSelect" class="js-example-basic-multiple" style="width:100%" disabled></select>
										<br>
										<br>
										<span>Elija el nodo padre a cambiar:</span>

										<select id="oldParentSelect" class="js-example-basic-multiple" style="width:100%"></select>

										<span id="mensaje_1" style="color: red;"></span> 
										<br>
										<br>
										<span>Elija el nuevo padre:</span>

										<select id="newParentSelect" class="js-example-basic-multiple" style="width:100%"></select>

										<br>
										<br>
										<span>Seleccione el color de la conexión: </span>

										<input type="color" id="colorParentConnection">

										<div class="row">
											<br>
											<div class="large-12 columns">
												<center>
												<a href="#" class="button info" onclick="close_create_parent_node_modal()">Cancelar</a>	
												<a href="#" class="button primary padding-top-2" onclick="changeParent()">Crear conexión</a>
												</center>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							
							
						</div>


					</div>
					
					</div>
				</div>
				</div>

			

			
		</div>

	</div>
		
	<footer class="footer">
			  <div class="container-fluid clearfix">
				<span class="text-muted d-block text-center text-sm-left d-sm-inline-block"></span>
				<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
					
					Copyright © 2020 -  <a href="http://www.upvictoria.edu.mx/" target="_blank">Universidad Politecnica de Victoria</a>.
					
				</span>
			  </div>
			</footer>
	
	{{script('js/main.js')}}
	{{script('js/principal.js')}}
	{{script('arbol/jquery.js')}}
	{{script('arbol/d3.v3.min.js')}}
	{{script('https://d3plus.org/js/d3plus.v2.0.0-alpha.29.full.min.js')}}
	{{script('arbol/experto/treeFunctions.js')}}
	{{script('arbol/experto/dndTree.js')}}
	{{script('arbol/d3-context-menu.js')}}
	{{script('arbol/underscore-min.js')}}
	{{script('https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js')}}
	{{script('arbol/fastclick.js')}}
	{{script('arbol/foundation.min.js')}}
	{{script('https://unpkg.com/sweetalert/dist/sweetalert.min.js')}}
	{{script('https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')}}
	
	
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script> 

	<script>
		// for the first initialization
		$('document').ready(function(){
			cristian();
			$(document).foundation();
			$(document).on('opened', '[data-reveal]', function () {
				var element = $(".inputName:visible").first();
				element.focus(function(){
					this.selectionStart = this.selectionEnd = this.value.length;
				});
				element.focus();
			});
			$('#RenameNodeForm').submit(function(e){
					//rename_node();
					//return false;
			});
			$('#CreateNodeForm').submit(function(e){
					//create_node();
					//return false;
			});
			var treeJSON = d3.json("arbol/tree.json'", draw_tree);
			// $("#abrirCarga").click();
			$('#modalDeCarga').foundation('reveal', 'open');
		});
		
		

		function cristian(){

			$('.js-example-basic-multiple').select2();

			$('#nodesSelect').select2();

			$('#nodesSelectAllDelete').select2();
			$('#nodesSelectChildNewParent').select2();
			$('#nodesSelectAllDelete').next(".select2-container").hide();
			$('#nodesSelectChildNewParent').next(".select2-container").hide();

			$("#horizontalVertical").change(function (e) {
				// alert("Handler for .change() called. ");

				horizontalVertical = !horizontalVertical;
				outer_update(tree_root);

			});



			$("#textPosition").change(function (e) {
				textPosition = !textPosition;
			});


			$("#textPositionRename").change(function (e) {
				textPosition = !textPosition;
			});

			$("#orienta").change(function (e) {
				outer_update(tree_root);

			});

			$("#showNames").change(function (e) {
				showNames = !showNames;
				outer_update(tree_root);

			});

			$("#showNumber").change(function (e) {
				showNumber = !showNumber;

				outer_update(tree_root);

			});



			var $optionsDelete = $("#optionsDelete").select2().on("change", function (e) {

				var optionsS = $('#optionsDelete').select2('data')
				let deleteOption = optionsS[0]['id'];
				if (deleteOption == 4) {
					$('#nodesSelectAllDelete').next(".select2-container").show();
					$('#nodesSelectChildNewParent').next(".select2-container").hide();

				} else if (deleteOption == 3) {
					$('#nodesSelectChildNewParent').next(".select2-container").show();
					$('#nodesSelectAllDelete').next(".select2-container").hide();
				} else {
					$('#nodesSelectAllDelete').next(".select2-container").hide();
					$('#nodesSelectChildNewParent').next(".select2-container").hide();

				}

			});


			$(document).foundation();
			$(document).on('opened', '[data-reveal]', function () {
				var element = $(".inputName:visible").first();
				element.focus(function () {
					this.selectionStart = this.selectionEnd = this.value.length;
				});
				element.focus();
			});
			$('#RenameNodeForm').submit(function (e) {
				rename_node();
				return false;
			});
			$('#CreateNodeForm').submit(function (e) {
				create_node();
				return false;
			});
			/*$("/public/arbol/d3.v3.min.js", function(){
			var treeJSON = d3.json("tree.json", draw_tree);
			});*/
		
							
		}
	</script>

</body>

</html>