<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ style('css/main.css') }}

    {{style('awesome/css/font-awesome.min.css')}}
    <title>Sistema gestor del conocimiento - UPV</title>
</head>
<body>
    <div class="container-scroller" style="background-color:white;">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <div class="auto-form-wrapper">
                <form action="/login" method="POST">
					
					<center>
						
						<a class="navbar-brand brand-logo" href="/">
							<img src="/images/logo_azul.png" alt="logo" style="width: 150px; " /> 
						</a>
						
						<h1>
							Sistema Gestor del Conocimiento
						</h1>
						
					</center>
					
					<div id="div_error_contrasena" style="display: none;" class="alert alert-danger" role="alert">
					   <span id="error_contrasena"> </span>
					  </div>
					
					<div id="div_error_matricula" style="display: none;" class="alert alert-danger" role="alert">
						<span id="error_matricula"> </span>
					</div>
					
				  {{ csrfField() }}
                  <div class="form-group">
                    <label class="label">Matricula</label>
                    <div class="input-group">
					<input type="text" class="form-control" placeholder="Matricula" name="matricula" id="matricula" onkeydown="comprobarMensajes()">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-user-o" ></i>
                        </span>
                      </div>
                    </div>
								
					  
                  </div>
                  <div class="form-group">
                    <label class="label">Contraseña</label>
                    <div class="input-group">
                      <input type="password" class="form-control " placeholder="*********" name="password" id="password" onkeydown="comprobarMensajes()">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-key" ></i>
                        </span>
                      </div>
                    </div>
					
					  
					  
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary submit-btn btn-block" type="submit">Iniciar sesión</button>
                  </div>
                  <div class="form-group d-flex justify-content-between">
              
                    <!-- <a href="#" class="text-small forgot-password text-black">Olvide la contraseña</a> -->
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
     
      </div>

    </div>
    {{script('js/principal.js')}}
		
	<script>
		//console.log("THIS IS IN THE CONSOLE");
		//let uri = window.location.href.split('?');
	  	let uri = window.location.href;
		var div_error_matricula = document.getElementById("div_error_matricula");
		var div_error_contrasena = document.getElementById("div_error_contrasena");
		
		
		function comprobarMensajes(){
			div_error_matricula.style.display = "none";
			div_error_contrasena.style.display = "none";
		}
		
	  	if( uri.includes("?") ){
			uri = window.location.href.split('?');
			var error = uri[1].split('=')[1];
			//alert(error);
			
			if(error == 1){
				var error_matricula = document.getElementById("error_matricula");
				error_matricula.innerHTML = "Usuario no encontrado. Vuelva a intentar"
				div_error_matricula.style.display = "block";
			}else if (error == 2){
				var error_contrasena = document.getElementById("error_contrasena");
				error_contrasena.innerHTML = "Contraseña incorrecta, vuelva a intentar";
				div_error_contrasena.style.display = "block";
			}
			
			window.history.pushState('page2', 'Title', '/');
			
	  	}
		
		
	</script>
</body>
</html>