<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<title >Sistema de gestión del conocimineto </title>
	

</head>

<body>
	<h1 style="color: green;">
    HOLA A TODOS
  </h1>
</body>

</html>