.node {
  cursor: pointer;
}

.overlay {
  background-color: #eee;
}

.nodeTextCustom {
  color: red;
}
.additionalParentLink {
  fill: none;
  stroke-width: 1.5px;
  marker-start: url(#arrow-head);
}

.node circle {
  fill: #fff;

  stroke-width: 1.5px;
}

.node text {
  font-size: 10px;
  font-family: sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show {
  display: block;
}

.ghostCircle,
.activeDrag .ghostCircle {
  display: none;
}

.hidden {
  display: none;
}
